/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-modal-mask {
  background-color: transparent !important;
}
.ant-layout-sider{
  position: fixed !important;
  height: 100vh;
}
